.resourceContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 1rem 3rem;
  justify-content: space-between;
}

.resourceGroupContainer {
  flex-grow: 1;
  /* height: 90%; */
  border: 1px solid black;
  border-radius: 20px;
  padding: 1.5rem;
  overflow-y: scroll;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.btnContainer button {
  padding: 0.1rem 1.2rem;
  background-color: transparent;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 60%;
}
