@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=PT+Sans:ital,wght@0,400;1,700&family=Space+Grotesk:wght@300;400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  color: #251d3a;
}
