.button {
  all: unset;
  /* width: 20%; */
  /* border: 1.5px solid black; */
  border-radius: 20px;
  text-align: center;
  padding: 0.4em 1.3em;
  font-weight: bold;
  color: aliceblue;
  background-color: #e04d01;
  margin-top: 2em;
}
